
bin
build

example-*/bin
example-*/build

/**/target

/**/logs
/.gradle

/out

#idea config file
/.idea
/**/*.iml
/hotchpotch-example-code.ipr
/hotchpotch-example-code.iws

#eclipse config file
/**/.project
/**/.settings
/**/.classpath

