<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.keepthinker.example.spring.ioc" />

	<alias name="main" alias="main1" />

	<bean id="abstractAnimal" abstract="true">
		<property name="name" value="animal" />
	</bean>

	<bean id="animal" class="com.keepthinker.example.spring.ioc.model.Animal"
		primary="true">
		<property name="name" value="bird" />
	</bean>

	<bean id="animalDuplicate" class="com.keepthinker.example.spring.ioc.model.Animal">
		<property name="name" value="birdDuplicate" />
	</bean>

	<bean id="inheritedAnimal" parent="abstractAnimal"
		class="com.keepthinker.example.spring.ioc.model.Animal" init-method="init">
	</bean>

	<bean id="overrideAnimal" parent="abstractAnimal"
		class="com.keepthinker.example.spring.ioc.model.Animal" init-method="init">
		<property name="name" value="override" />
	</bean>

	<bean id="earth" class="com.keepthinker.example.spring.ioc.model.Earth"
		scope="prototype">
		<property name="quality" value="8.12e10" />
		<property name="animal" ref="overrideAnimal"/>
	</bean>
	
	<bean id="earthFromFactory" class="com.keepthinker.example.spring.ioc.model.MyFactoryBean">
	</bean>

	<bean id="inner" class="com.keepthinker.example.spring.ioc.XmlMain$Inner" />

	<bean id="main" class="com.keepthinker.example.spring.ioc.XmlMain" />

	<bean class="com.keepthinker.example.spring.ioc.postprocessor.InstantiationTracingBeanPostProcessor" />
	<bean class="com.keepthinker.example.spring.ioc.postprocessor.InstantiationTracingBeanPostProcessor2" />
	<bean class="com.keepthinker.example.spring.ioc.postprocessor.MyInstantiationAwareBeanPostProcessor" />
	<bean class="com.keepthinker.example.spring.ioc.postprocessor.AnimalNamePrefixAddBeanFactoryPostProcessor" />

	<bean class="com.keepthinker.example.spring.ioc.BeanLifeCircleObserver" init-method="xmlInitMethod" destroy-method="xmlDestroyMethod"/>

	<bean class="com.keepthinker.example.spring.ioc.GeneralConfig">
		<property name="databaseUrl" value="${database.url}"/>
	</bean>

	<bean id="propertySourcesPlaceholderConfigurer" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config-xml-load.properties</value>
			</list>
		</property>
	</bean>

	<bean class="com.keepthinker.example.spring.ioc.Zoo" />
</beans>